<%= flash[:success] %>
<h1>Task 一覧</h1>

<%= form_with(url: tasks_path, scope: :task, method: :get, local: true) do |form| %>
	<p>タスク名</p>
	<p><%= form.text_field :title %></p>

	<p>ステータス名</p>
	<p><%= form.select :status, Task.statuses.keys, include_blank: "選択してください" %></p>
	<p><%= form.submit '検索'%></p>
<% end %>

<table class="table table-striped table table-hover">
	<tr class="w-100 border">
	<div class="row">
		<th class="col-2">Task title:</th>
		<th class="col-2">Task content:</th>
		<th class="col-2">Deadline</th>
		<th class="col-2">Status</th>
		<th class="col-1">Priority</th>
		<th class="col-1"></th>
		<th class="col-1"></th>
		<th class="col-1"></th>
	</tr>

<% @tasks.each do |task| %>
	<tr class="task_row">
		<td><%= task.title %></td>
		<td><%= task.content %></td>
		<td><%= task.deadline %></td>
		<td><%= task.status %></td>
		<td><%= task.priority %></td>
		<td><button type="button" class="btn btn-outline-primary"><%= link_to '詳細', task_path(task.id) %></button></td>
		<td><button type="button" class="btn btn-outline-success"><%= link_to '編集', edit_task_path(task.id) %></button></td>
		<td><button type="button" class="btn btn-outline-danger"><%= link_to '削除', task_path(task.id), method: :delete, data: ['Are you sure?'] %></button></td>
	</tr>
	<% end %>
</table>

<p><%= link_to '新規登録画面へ', new_task_path %></p>
<p><%= link_to '終了期限でソートする', tasks_path(sort_expired: "true") %></p>
<p><%= link_to '優先順位でソートする', tasks_path(sort_priority: "true") %></p>







