<%= form_with(model: @task, local: true) do |form| %>

	<% if @task.errors.any? %>
		<div class="error_explanation">
			<h2><%= @task.errors.count %>件のエラーがあります</h2>
			<ul>
			<% @task.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<%= form.label :title %>
	<%= form.text_field :title %>

	<%= form.label :content %>
	<%= form.text_field :content %>

	<%= form.submit '登録' %>
<% end %>

<%= link_to 'Task一覧へ', tasks_path %>