<div class="text-center">
<h1>Task detail</h1>
<hr>

<p><strong>作成者：</strong> <%= @task.user.name %></p>
<p><strong>タイトル：</strong> <%= @task.title %></p>
<p><strong>内容：</strong>  <%= @task.content %></p>
<p><strong>締め切り：</strong>  <%= @task.deadline %></p>
<p><strong>状態：</strong>  <%= @task.status %></p>
<p><strong>優先順位：</strong>  <%= @task.priority %></p>
<br>
<button type="button" class="btn btn-outline-primary mb-3"><%= link_to 'Task一覧画面へ', tasks_path %></button><br>
<button type="button" class="btn btn-outline-success"><%= link_to '編集', edit_task_path(@task) %></button>
</div>

